.counter {
  display: flex;
  flex-direction: row;
  padding: 0.2rem;
  gap: 1.7rem;
  max-width: 9rem;
  justify-content: center;
  align-items: end;
}

h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
